<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kr70">
  <xacro:arg name="prefix" default="kr70_"/>
  <xacro:arg name="rsi_ip" default="127.0.0.1"/>
  <xacro:arg name="rsi_port" default="49152"/>
  <xacro:arg name="socket_timeout" default="30"/>
  <xacro:arg name="has_ft_sensor" default="false"/>
  <xacro:arg name="load_ros2_control" default="false"/>
  <xacro:arg name="connected_to" default=""/>
  <xacro:arg name="xyz" default="0 0 0"/>
  <xacro:arg name="rpy" default="0 0 0"/>

  <xacro:include filename="$(find kuka_kr_description)/robots/kr70.xacro"/>

  <xacro:kr70 prefix="$(arg prefix)" connected_to="$(arg connected_to)" xyz="$(arg xyz)" rpy="$(arg rpy)"/>
  <xacro:if value="$(arg load_ros2_control)">
    <xacro:include filename="$(find kuka_kr_description)/ros2_control/kr70.ros2_control.xacro"/>
    <xacro:kr70_interface
            name="RsiInterface"
            prefix="$(arg prefix)"
            rsi_ip="$(arg rsi_ip)"
            rsi_port="$(arg rsi_port)"
            socket_timeout="$(arg socket_timeout)"
            has_ft_sensor="$(arg has_ft_sensor)"
    />
  </xacro:if>
</robot>
